*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 margin: 0;
 background-color: pink;
 flex-direction: column;
 min-height: 100vh;
 grid-template-rows:auto 1rf auto;
}
 


header h1{
  background-color: pink;
    text-align: center;
    padding-left: 30px;
    border-radius: 25px;
    margin: 15px;
  }

 

h2{text-align: center;
       padding: 30px;
        border: 25px;
}
 
header{
  width: 100%;
  height: 70PX;
  background-color: pink;

}

.menu{
  width: 80%;
  height: 70px;
}


.sectionNosotros{

  display: none;
  width: 90px;
  height: 70px;
  float: left;
  padding-top: 10px;
  box-sizing: border-box;
}

.sectionNosotros img{
  font-size: 10px;
  padding: 10px;
}
 
nav{
  width: 70%;
  height: 70px;
  float: right;
  justify-content: center;
}
.eleccion{
      text-align: center;
    padding-bottom: 15px;
  }

.no{
  
  text-align: center;
}


nav ul{
  display: flex;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;
}

nav ul li{
  display: inline;
  text-decoration: none;
}

nav ul li a{
  list-style: none;
  margin: 1rem;
  background-color: whitesmoke;
  padding: 0.3rem;
  border-radius: 1rem;
  text-decoration: none;
}

/* tranformacion de menu*/

nav ul li a:hover{
  background-color: aqua;
  transform: scale(1.2);
}

img{
   
   width: 90%;
}

.inicio{
  text-align: center;
  padding: auto;
  
}






.mainNosotros{
  height: 80vh;
  display: grid;
  grid-template-areas: "mainP mainP"
                      "imagen1 imagen2"
                      "imagen3 imagen4"
                      "parrafo parrafo";
  justify-content: center;                    
}

.mainP{
    text-align: center;
    grid-area: mainP;
}

.imagen1{
    grid-area: imagen1;
}

.imagen2{
    grid-area: imagen2;
}

.imagen3{
    grid-area: imagen3;
}

.imagen4{
    grid-area: imagen4;
}

.parrafo{
    grid-area: parrafo;
    text-align: center;
}


footer {
  
  padding: auto;
  display: inline;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

.info{
  text-align: left;
}


@media only screen and (min-width:600px){
    
  .mainNosotros{
      height: 80vh;
      display: grid;
      grid-template-areas: "mainP mainP mainP mainP"                   
                          "imagen1 imagen2 imagen3 imagen4" 
                          "parrafo parrafo parrafo parrafo ";
      justify-content: center; 
            
  }

  .mainP{
    text-align: center;
  }

  .sectionNosotros{
    display: block;
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen1, .imagen2, .imagen3, .imagen4{
    padding: 1rem
    
}



@media only screen and (min-width:1024px){
  .sectionNosotros{display:inline;}
  
.mainNosotros{
      height: 80vh;
      display: grid;
      grid-template-areas: "mainP mainP img img "
                          "imagen1 imagen2 imagen3 imagen4" 
                          "parrafo parrafo parrafo parrafo";
      justify-content: center;   
      align-items: center;                 
  }
