h1{
    background-color: whitesmoke;
  justify-content: center;
    text-align: center;
    padding-left: 30px;
    border-radius: 25px;
    margin: 15px;
}

.navegacion{
    padding: auto;
    margin: auto;
    justify-items: center;
    text-align: center;
    width: 80%;
    height: 90px;
  }

  .principal{
    margin: auto;
    width: 50%;
    justify-content: end;
  }
  